[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Table rectangulaire en bois massif brossé à l'ancienne
Type=Link
URL=https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.cocktail-scandinave.fr%2FVbeta2018%2Fwp-content%2Fuploads%2F2018%2F02%2FRGATA180AL.jpg&imgrefurl=https%3A%2F%2Fwww.cocktail-scandinave.fr%2Fproduit%2Ftable-galway%2F&tbnid=1cZz_EGjqs9MVM&vet=12ahUKEwiQ_87O7OX1AhXHtSoKHbWhDWYQMygAegUIARDoAg..i&docid=8bIScW9inSIQgM&w=1024&h=1024&q=table&client=firefox-b-e&ved=2ahUKEwiQ_87O7OX1AhXHtSoKHbWhDWYQMygAegUIARDoAg
Icon=text-html
